.content.img-post-content {
    padding: 0;
    margin: 0;
    width: 100%;
}

.img-post-about {
    width: 70%;
    margin: 10px auto 0px auto;
}

.imgs-container {
    display: flex;
    width: 90%;
    flex-direction: column;
    margin: 30px auto;
}

.imgs-row {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 0;
    margin: 15px 0px;
}

.imgs-row button {
    display: inline-block;
    margin: 0px 15px;
    min-width: 0;
    flex: 1;
    width: 100%;
    max-width: 100%;
}

.imgs-row img {
    object-fit: contain;
    width: 100%;
    max-width: 100%;
}

.imgs-desc {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 0;
    margin: 15px 0px;
}

.imgs-desc p {
    text-align: center;
    margin: 0 auto;
    min-width: 0;
    flex: 1;

    margin: 0px 15px;
}

.post-separator {
    margin: 30px 0px;
}

/*  FULL IMG STYLES */

.full-img-div {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 80;
  }

.full-img-div .full-img {
    width: auto;
    height: 55%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    position: fixed;
    z-index: 5;
    align-self: center;

    cursor: zoom-in;
}

.img-index {
  position: fixed;
  z-index: 10;
  bottom: 0;
  margin: 40px;
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: bolder;
  background-color: var(--border);
}

.current-img-index {
  padding: 4px 8px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.7);
}

  .full-img-right-arrow, .full-img-left-arrow {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    cursor: pointer;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 100px;
  }

  .full-img-right-arrow svg, .full-img-left-arrow svg {
    width: 80%;
    height: 80%; 
  }

  .exit-div {
      width: 100%;
      height: 100%;
      position: fixed;
      z-index: 0;
}

  .full-img-right-arrow {
    right: 10px;
  }

  .full-img-left-arrow {
    left: 10px;
  }

  @media (max-width: 800px) {
    .full-img-right-arrow, .full-img-left-arrow {
      width: 50px;
      height: 50px;
    }
  }

  @media (max-aspect-ratio: 1/1) {
    .full-img-div .full-img {
      width: 95%;
      height: auto;
    }
  }