.index-content {
    border-right: solid 2px var(--border);
    border-left: solid 2px var(--border);
    padding: 0px 60px;
}

.big-title {
    text-align: center;
}

.pfp {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0px;
}

.pfp .pfp-img {
    width: 265px;
    height: auto;
    border-radius: 15px;
    padding: 10px;
    animation: alternate 1s BorderColors infinite;
}

.right-arrow, .left-arrow {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 100px;
    margin: 0px 25px;
  }

.about-page h1{
    text-align: center;
}

.about-page p {
    text-indent: 50px;
}

.index-separator {
    width: 80%;
    border: none;
    height: 3px;
    margin-top: 70px;
    margin-bottom: 50px;
    margin: 70px auto 50px auto;
}

.cool-websites h1 {
    text-align: center;
    margin-bottom: 20px;
}

.websites-list {
    display: flex;
    flex-wrap: wrap;
}

.websites-list .website-card {
    width: 100%;
    max-width: 500px;
    min-height: 250px;
    padding: 0px 17px;
    margin: 25px auto;
    flex: 50%;
}

.websites-list .website-card p {
    margin-top: 20px;
}

@keyframes BorderColors {
    from {
        border: solid 2px var(--accent-2);
    }
    to {
        border: solid 2px var(--accent);
    }
}
