.big-title {
    text-align: center;
}

.pfp {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0px;
}

.pfp .pfp-img {
    width: 265px;
    height: auto;
    border-radius: 15px;
    padding: 10px;
    animation: alternate 1s BorderColors infinite;
}

@keyframes BorderColors {
    from {
        border: solid 2px var(--text);
    }
    to {
        border: solid 2px var(--accent);
    }
}

.right-arrow, .left-arrow {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 100px;
    margin: 0px 25px;
  }

.index-separator {
    border: none;
    height: 3px;
    margin-top: 70px;
    margin-bottom: 50px;
}