.music-player {
    position: fixed;
    z-index: 80;

    height: 400px;
    width: 70px;
    margin: 0px 15px;

    border-radius: 30px;
    border: solid 2px var(--border);

    right: 0;
    top: 50%;
    transform: translateY(-50%);

    align-content: center;
    text-align: center;
}

.music-player .song-cover-art {
    width: 50px;
    height: auto;
    margin: 5px auto;
    border-radius: 5px;
}

.song-play-progress {
    height: calc(100% - 180px);
    width: 100%;
    margin: 15px 0px;
}

.song-play-bar {
    height: 100%;
    margin: 0px auto;
    width: 1px;
    border: solid 1px var(--border);
}

.song-play-bar-index {
    position: relative;
    width: 20px;
    height: 1px;
    margin: 0px auto;
    top: 50%;
    border: solid 2px var(--accent-2);
}

.song-time {
    margin: 10px 0px;
}

.play-btn-img {
    filter: invert();
    width: 30px;
}

.song-choices {
    display: flex;
    position: absolute;
    top: 0;
    margin: 15px 0px;
    transform: translateX(-105%);

    display: none;
}

.song-choices img {
    width: 50px;
    margin: 0px 5px;

    cursor: var(--pointer);
}