:root {
    --text: #28D8C1;
    --background: #000000;
    --accent: #FD3B91;
    --accent-2: #28D8C1;
    --border: #FD3B91;
    --hover: #343343;
    --second-background: #492E79;
    --disabled-bg: rgba(74, 46, 121, 0.7) ;

    --auto: url("/src/imgs/cursors/NormalPink.cur"), auto;
    --pointer: url("/src/imgs/cursors/selectPink.cur"), pointer!important;
}

/* 

    #fd3b91
    #28d8c1
    #000000
    #0f015a
    #f7b2d6 

*/