:root {
    --text: #28D8C1;
    --background: #000000;
    --accent: #FD3B91; 
    --border: #F7B2D6;
    --hover: #343343;
    --second-background: #492E79;
    /* --border:black; */
    /* --second-background: #0f1565; */
    /* --primary: #8a90ed;
    --button:#8a90ed;
    --button-hover: #8692f8;
    --secondary: #8c155a;*/
}

/* 

    #fd3b91
    #28d8c1
    #000000
    #0f015a
    #f7b2d6 

*/