@font-face {
    font-family: "starbound-font";
    src: url("/src/fonts/starbound-font.otf");
}
@font-face {
    font-family: "consola";
    src: url("/src/fonts/consola.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

    cursor: var(--auto);
}

html {
    height: 100%;
    scrollbar-color: var(--accent-2) var(--accent);
}

body {
    font-family: "consola";
    color: var(--text);
    background-color: var(--background);
    height: 100%;
}

h1, h2, h3, h4 , h5, h6 {
    font-family: "starbound-font";
}

h1 {
    font-size: 40px;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 32px;
}

p {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover, button:hover, button:hover *, a:hover * {
    cursor: var(--pointer) !important;
}

button {
    background: none;
    border: none;
    color: var(--text);
    font-family: "Consolas";
    font-size: 20px;
}

hr {
    color: var(--accent);
    background-color: var(--accent);
}

br {
    display: block;
    margin-top: 14px;
}
