.content {
    width: 70%;
    margin: 15px auto 0px auto;
    padding: 50px 60px 25px 60px;
    align-content: center;
    display: flex;
    flex-direction: column;
}

.happyTrail {
    position: absolute;
    width: 13px;
    height: 13px;
    background: none;
    border-radius: 50%;
    opacity: 0.8;
    pointer-events: none;
    filter: blur(1px);
    animation: 0.3s ease rainbowFade;
  }

@keyframes rainbowFade {
    55% {
      background: var(--accent);
    }
    100% {
        background: var(--accent-2);
    }
  }

@media (max-width:800px) {
  .content{
    width: 100%;
    margin: 0px;
    padding: 15px 15px;
  }
}