.content {
    width: 70%;
    margin: 30px auto;
    align-content: center;
    display: flex;
    flex-direction: column;
}

.happyTrail {
    position: absolute;
    width: 13px;
    height: 13px;
    background: none;
    border-radius: 50%;
    opacity: 0.8;
    pointer-events: none;
    filter: blur(1px);
    animation: 0.3s ease rainbowFade;
  }

@keyframes rainbowFade {
    55% {
      background: var(--accent);
    }
    100% {
        background: var(--accent-2);
    }
  }