.center {
  text-align: center;
}

/* CONSTANTS */
.side-menu-btn {
  stroke: var(--accent);
  stroke-width:5;
  position: fixed;
  left: 0;
  top: 0;
  margin: 10px 10px;
  z-index: 95;
}

.top-right-constants {
  position: fixed;
  right: 0;
  top: 0;
  margin: 10px 10px;
}

.change-theme-btn {
  fill: var(--accent);
  display: none;
}

.top-menu {
  display: flex;
  font-size: 20px;
  width: 100%;
  justify-content: center;
  margin-top: 15px;
}

.top-menu.fixed {
  position: fixed;
  z-index: 99;
  bottom: 0;
  margin-bottom: 30px;
  visibility: hidden;
}

.top-menu-itens {
  display: flex;
  border: solid 3px var(--border);
  background-color: rgba(0, 0, 0, 0.9);
}
.top-menu-itens a {
  margin: 5px 10px
}

/* END CONSTANTS */

.content {
  width: 70%;
  margin: 10px auto 0px auto;
  padding: 50px 60px;
  align-content: center;
  display: flex;
  flex-direction: column;
}

.heart {
  width: 30px;
  height: 30px;
  position: absolute;
  pointer-events: none;
  background: url(/src/imgs/trails/heart.gif) no-repeat;
  background-size: contain;
  background-position: 0 0;
  
}

.heart.big {
  width: 70px;
  height: 70px;
}

.happyTrail {
    position: absolute;
    width: 13px;
    height: 13px;
    background: none;
    border-radius: 50%;
    opacity: 0.8;
    pointer-events: none;
    filter: blur(1px);
    animation: 0.3s ease rainbowFade;
  }

@keyframes rainbowFade {
    55% {
      background: var(--accent);
    }
    100% {
        background: var(--accent-2);
    }
  }

@media (max-width:800px) {
  .content{
    width: 100%;
    margin: 0px;
    padding: 15px 15px;
  }

  .top-right-constants, .side-menu-btn {
    bottom: 0;
    top: unset!important;
    z-index: 99999;
  }

  .top-menu {
    margin-bottom: 5px;
    width: 100%;
    font-size: 15px;
    text-wrap: nowrap;
    justify-content: space-around;
  }

  .top-menu-itens {
    flex-wrap: wrap;
    justify-content: center;
  }

  .top-menu-itens a {
    border-right: solid 3px var(--border);
    border-left: solid 3px var(--border);
    padding: 0px 5px ;
  }

  .top-menu-itens hr {
    display: none;
  }

  .top-menu.fixed {
    visibility: hidden;
  }

  .top-menu-itens {
    visibility: visible;
  }

  .top-menu-return {
    position: absolute;
    justify-self: center;
    width: 50px;
    stroke: var(--accent-2);
  }

}